<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout3}">

  <th:block layout:fragment="css">
	<style type="text/css">
    	.body-container {
    		max-width: 800px;
    	}
	</style>
  </th:block>
	  	  
  <th:block layout:fragment="content">
	
	<div class="container">
		<div class="body-container">	
			<div class="body-main">
				<div style="padding: 5px;">관리자 메인 화면 입니다.</div>
			</div>
		</div>
	</div>
  </th:block>

</html>