<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3}">

  <th:block layout:fragment="css">
	<style type="text/css">
    	.body-container {
    		max-width: 800px;
    	}
	</style>
	<link rel="stylesheet" th:href="@{/dist/css/boot-board.css}" type="text/css">
  </th:block>

  <th:block layout:fragment="content">
	
	<div class="container">
		<div class="body-container">	
			<div class="body-title">
				<h3><i class="bi bi-app"></i> 게시판 </h3>
			</div>
			
			<div class="body-main">

				<div class="row board-list-header">
					<div class="col-auto me-auto">
						<span class="dataCount"></span>
					</div>
					<div class="col-auto">&nbsp;</div>
				</div>				
				
				<table class="table table-hover board-list">
					<thead class="table-light">
						<tr>
							<th width="60">번호</th>
							<th>제목</th>
							<th width="100">작성자</th>
							<th width="100">작성일</th>
							<th width="70">조회수</th>
							<th width="50">파일</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="dto, status: ${list}">
							<td th:text="${dataCount - (page-1) * size - status.index}"></td>
							<td class="left">
								<a class="text-reset" th:if="${#strings.isEmpty(kwd)}" th:href="@{/board/article/{num}(num=${dto.num}, page=${page})}" th:text="${dto.subject}"></a>
								<a class="text-reset" th:if="${not #strings.isEmpty(kwd)}" th:href="@{/board/article/{num}(num=${dto.num}, page=${page}, schType=${schType}, kwd=${kwd})}" th:text="${dto.subject}"></a>								
							</td>
							<td>[[${dto.member.userName}]]</td>
							<td>[[${#temporals.format(dto.regdate, 'yyyy-MM-dd')}]]</td>
							<td>[[${dto.hitCount}]]</td>
							<td>
								<a th:if="${dto.saveFilename != null}" th:href="@{/board/download(num=${dto.num})}"><i class="bi bi-file-arrow-down"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="page-navigation"></div>

				<div class="row board-list-footer">
					<div class="col">
						<button type="button" class="btn btn-light" th:onclick="|location.href='@{/board/list}'|" title="새로고침"><i class="bi bi-arrow-counterclockwise"></i></button>
					</div>
					<div class="col-6 text-center">
						<form class="row" name="searchForm" th:action="@{/board/list}" method="post">
							<div class="col-auto p-1">
								<select name="schType" class="form-select">
									<option value="all" th:selected="${schType}=='all'">제목+내용</option>
									<option value="userName" th:selected="${schType}=='userName'">작성자</option>
									<option value="reg_date" th:selected="${schType}=='reg_date'">등록일</option>
									<option value="subject" th:selected="${schType}=='subject'">제목</option>
									<option value="content" th:selected="${schType}=='content'">내용</option>
								</select>
							</div>
							<div class="col-auto p-1">
								<input type="text" name="kwd" th:value="${kwd}" class="form-control">
							</div>
							<div class="col-auto p-1">
								<button type="button" class="btn btn-light" onclick="searchList()" title="검색"> <i class="bi bi-search"></i> </button>
							</div>
						</form>
					</div>
					<div class="col text-end">
						<button type="button" class="btn btn-light" th:onclick="|location.href='@{/board/write}'|">글올리기</button>
					</div>
				</div>

			</div>
		</div>
	</div>
  </th:block>

  <th:block layout:fragment="script">
	  <script type="text/javascript" th:src="@{/dist/js/paginate-boot.js}"></script>
	  
	  <script type="text/javascript">
	  window.addEventListener("load", function(){
		  let page = '[[${page}]]';
		  let pageSize = '[[${size}]]';
		  let dataCount = parseInt('[[${dataCount}]]');
		  let url = '[[@{/board/list}]]';
		  let search = '[[${not #strings.isEmpty(kwd)}]]';
		  if(search === 'true') {
			  url = '[[@{/board/list(schType=${schType}, kwd=${kwd})}]]';
		  }
	
		  let total_page = pageCount(dataCount, pageSize);
		  let paging = pagingUrl(page, total_page, url);
	
		  document.querySelector('.dataCount').innerHTML = dataCount + '개 (' + page + '/' + total_page + ' 페이지)';
		  document.querySelector('.page-navigation').innerHTML = dataCount === 0 ? '등록된 게시물이 없습니다.' : paging;
	  }, false);
	  </script>
  
	  <script type="text/javascript">
	    function searchList() {
		    const f = document.searchForm;
		    f.submit();
	    }
	  </script>
  </th:block>
  
</html>